/*
mobile-first is most important, double check to ensure that
*/
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

body,
html {
    /* is this too big */
    font-size: 16px;
}

img {
  width: 100%;
}

.container, .icon-container {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1em;
  color: gray;
  text-align: left;

}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.head-photo {
  font-size: 1.2em;
  color: gray;
  padding: 5px;
  
}

p {
  font-size: 1.2em;
  line-height: 1.2em;
}

.graphic-text {
  margin: 0 auto;
  font-size: 1.2em;
  color: gray;
}
/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {

    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
  
    .icon-container  {
     
      display: flex;
      justify-content: space-between;
  
    }
    .graphic {
      flex-basis: 30%;
    }
    .graphic-text {
      padding: 10px;
    }
}



/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 900px) {

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
.container {
  max-width: 600px;

}
figure {
  max-width: 700px;
}
.top-photo {
  max-width: 700px;
  margin: 0 auto;
}
}
